/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

// Load utils
@use "sass:color";
@use "@catppuccin/palette/scss/mocha" as *;
@use "../node_modules/reveal.js/css/theme/template/mixins" as mixins;

$link-color: $sky;

// Inject theme variables (see reveal.js/css/theme/template/settings.scss)
@use "../node_modules/reveal.js/css/theme/template/settings" with ($background-color: $crust,

  $main-color: $subtext1,
  $heading-color: $text,

  $main-font-size: 42px,
  $main-font: ("Arial", Helvetica, sans-serif),
  $heading-font: ("Poppins", Helvetica, sans-serif),
  $heading-text-shadow: none,
  $heading-letter-spacing: normal,
  $heading-text-transform: normal,
  $heading-font-weight: 600,
  $link-color: $link-color,
  $link-color-hover: color.adjust($link-color, $lightness: 15%),
  $selection-background-color: color.adjust($link-color, $lightness: 25%),

  $heading1-size: 2.3em,
  $heading2-size: 1.4em,
  $heading3-size: 1.1em,
  $heading4-size: 0.8em);

// Theme template ------------------------------
@use "../node_modules/reveal.js/css/theme/template/theme";
// ---------------------------------------------

// Include theme-specific fonts
@import url("https://fonts.bunny.net/css2?family=Poppins:wght@300,700&family=Source+Sans+Pro&display=swap");

// Change text colors against light slide backgrounds
@include mixins.light-bg-text-color($base);

iframe {
  border: none;
}

@import "@catppuccin/highlightjs/sass/catppuccin-mocha.scss";

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

kbd {
  background-color: $text;
  border: 3px solid $overlay2;
  border-radius: 10px;
  box-shadow: 0 1px 0 rgba($crust, 0.2), 0 0 0 2px $rosewater inset;
  color: $base;
  display: inline-block;
  font-size: 0.85em;
  line-height: 1em;
  padding: 0.2em 0.4em;
  white-space: nowrap;
}

.qr-codes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.qr-codes>div {
  display: flex;
  flex-direction: column;
}

.qr-codes>div>* {
  display: block;
}
